* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: sans-serif;
  background-color: rgb(244, 246, 247);
}

form {
  background-color: rgb(84, 88, 85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 29px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 29px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 29px -11px rgba(0, 0, 0, 0.75);
}
#username {
  position: absolute;
  top: 100px;
  left: 30px;
  color: white;
  background: transparent;
}
.username {
  position: absolute;
  top: 130px;
  left: 30px;
  color: white;
  background: transparent;
  height: 30px;
  width: 240px;
  border-radius: 5px;
}
#password {
  position: absolute;
  top: 190px;
  left: 30px;
  color: white;
  background: transparent;
}
#pass {
  position: absolute;
  top: 220px;
  left: 30px;
  color: white;
  background: transparent;
  height: 30px;
  width: 240px;
  border-radius: 5px;
}
button {
  position: absolute;
  top: 315px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 40px;
  border-radius: 1rem;
  font-weight: 700;
  border-color: rgb(250, 143, 2);
  background-color: rgb(252, 252, 252);
}
h1 {
  position: absolute;
  top: 20px;
  left: 60%;
  transform: translate(-50%, 0);
  width: 170px;
  height: 30px;
  font-size: 2.5rem;
  background: transparent;
  color: white;
}
